/* 
    Created on : Mar 24, 2015, 3:45:59 PM
    Author     : paul
*/
@import url(http://fonts.googleapis.com/css?family=Sansita+One);
@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
    background-color: #ffffff;
    font-family: Arimo, sans-serif;
    line-height: 17px;
}

label {
    font-family: Georgia, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

a {
    color: #c20202;
}

a:hover, a:focus {
    color: #660000;
    text-decoration: none;
}


.home-title {
    font-size: 100px;
}

.home-logo {
    display: block;
    max-width: 600px;
    width: 90%;
    margin: 0px auto 50px;
    padding-top: 100px;
}

.starts-here {
    margin-top: -8px;
    font-size: 50px;
    display: block;
    color: #c20202;
}

.btn-home {
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #c20202;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  max-width: 300px;
  margin: 0 auto 10px;
  border: 1px solid #fff;
}

.btn-home:hover {
  background: #fff;
  color: #c20202;
  text-decoration: none;
}

.userSettingsButton {
    float: right;
}

.page-title {
    font-family: Sansita One, Georgia, serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 45px;
}

.lobster {
    font-family: Sansita One;
}

.register-here {
    margin: 30px;
    line-height: 17px;
}

.movie-search {
    margin-top: 0px;
}
.sharedName {
    position: absolute;
    bottom: 45px;
    text-align: center;
    background-color: #c20202;
    color: #fff;
    text-decoration: none;
    width: 102%;
    margin-left: -2px;
    padding: 5px 0px;
    box-shadow: 0px 2px 5px #000;
    z-index: 999;
}

/*for banner in corner*/
.sharedBanner {
    position: absolute;
    top: 1px;
    right: -29px;
    color: #fff;
    text-decoration: none;
    padding: 2px 15px 2px 15px;
    -ms-transform: rotate(45deg);  
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #c20202;
}

/*for shared text*/
.sharedBanner span {
    position: absolute;
    top: 15px;
    right: -3px;
    font-size: 11px;
}

/*for shared glyphcon*/
/*.sharedBanner span {
    position: absolute;
    top: 10px;
    right: 5px;
    -ms-transform: rotate(-45deg);  
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 20px;
}*/
