/* 
    Created on : Mar 24, 2015, 3:45:59 PM
    Author     : paul
*/
@import url(http://fonts.googleapis.com/css?family=Sansita+One);
@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
    background-color: #ffffff;
    font-family: Arimo, sans-serif;
    line-height: 17px;
}

label {
    font-family: Georgia, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

a {
    color: #c20202;
}

a:hover, a:focus {
    color: #660000;
    text-decoration: none;
}

.home-title {
    font-size: 100px;
}

.home-logo {
    display: block;
    max-width: 600px;
    width: 90%;
    margin: 0px auto 50px auto;
    -webkit-animation-name: flipInX; 
    -webkit-animation-duration: 1s;
    animation-name: flipInX;
    animation-duration: 1s;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.home-top {
    background-color: #c20202;
    width: 100%;
    padding: 170px 0px 100px 0px;
}
.home-1 {
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
    text-align: left;
    padding-left: 30px;
    height: 450px;
    background-color: #fff;
}
.home-2 {
    background-color: #c20202;
    color: #fff;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
    text-align: left;
    height: 475px;
}

.home-1 h1 {
    margin-top: -8px;
}

.home-2 h1 {
    color: #fff;
    margin-top: -8px;
    font-size: 50px;
    display: block;
}

.home-1 img {
    box-shadow: -5px 2px 25px #d2d2d2;
}

.home-2 img {
    box-shadow: 5px 2px 25px #660000;
}

.no-margin {
    margin: 0px 0px;
}

.home-ul {
    margin-top: 50px;
    text-align: left;
    font-size: 16pt;
    line-height: 30px;
    margin-left: 10px;
}

.starts-here {
    margin-top: -8px;
    font-size: 50px;
    display: block;
    color: #c20202;
}

.btn-home {
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #c20202;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  max-width: 300px;
  margin: 0 auto 10px;
  border: 1px solid #fff;
}

.btn-home:hover {
  background: #fff;
  color: #c20202;
  text-decoration: none;
}

.userSettingsButton {
    float: right;
}

.page-title {
    font-family: Sansita One, Georgia, serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 45px;
    -webkit-animation-name: bounceInLeft; 
    -webkit-animation-duration: 1s;
    animation-name: flipInX;
    animation-duration: 1s;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.lobster {
    font-family: Sansita One;
}

.register-here {
    margin: 30px;
    line-height: 17px;
}

.movie-search {
    margin-top: 0px;
}
.sharedName {
    position: absolute;
    bottom: 45px;
    min-height: 40px;
    background-color: #c20202;
    color: #fff;
    text-decoration: none;
    width: 102%;
    margin-left: -2px;
    padding: 5px 0px;
    box-shadow: 0px 2px 5px #000;
    z-index: 999;
}

/*for banner in corner*/
.sharedBanner {
    position: absolute;
    top: 1px;
    right: -29px;
    color: #fff;
    text-decoration: none;
    padding: 2px 15px 2px 15px;
    -ms-transform: rotate(45deg);  
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #c20202;
}

/*for shared text*/
.sharedBanner span {
    position: absolute;
    top: 15px;
    right: -3px;
    font-size: 11px;
}

.sharedNameName {
    float: left; 
    width: 139px; 
    padding: 2px 10px; 
    text-align: left;
    position: relative;
    margin-top: 5px;
}

.sharedNameButton {
    float: right; 
    margin-right: 5px; 
    width: 60px;
}

.sharedNameButton button {
    border: 1px solid #fff;
    padding: 2px 5px;
    position: absolute;
        top: 50%;
        margin-top: -13px;
        right: 10px;
}

.sharedNameButton button:hover {
    border: 1px solid #fff;
}

.return-movie {
    padding: 2px 5px; 
    background-color: #660000;
    padding: 2px 5px; 
    border: #fff solid 1px;
}

/*for shared glyphcon*/
/*.sharedBanner span {
    position: absolute;
    top: 10px;
    right: 5px;
    -ms-transform: rotate(-45deg);  
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 20px;
}*/
