/* 
    Created on : Mar 24, 2015, 3:45:59 PM
    Author     : paul
*/
body {
    background-color: #ffffff;
}

.home-title {
    font-size: 100px;
}

.home-logo {
    display: block;
    max-width: 600px;
    width: 90%;
    margin: 100px auto 50px;
}

.btn-home {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #c20202;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  max-width: 300px;
  margin: 0 auto 10px;
  border: 2px solid #fff;
}

.btn-home:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.redLink {
    color: #c20202;
    text-decoration: underline;
}

.redLink:hover {
    color: #660000;
}